(
zerowidthjoiner,
zerowidthnonjoiner,
space,
dottedCircle,
"ka-khmer",
"kha-khmer",
"ko-khmer",
"kho-khmer",
"ngo-khmer",
"ca-khmer",
"cha-khmer",
"co-khmer",
"cho-khmer",
"nyo-khmer",
"da-khmer",
"ttha-khmer",
"do-khmer",
"ttho-khmer",
"nno-khmer",
"ta-khmer",
"tha-khmer",
"to-khmer",
"tho-khmer",
"no-khmer",
"ba-khmer",
"pha-khmer",
"po-khmer",
"pho-khmer",
"mo-khmer",
"yo-khmer",
"ro-khmer",
"lo-khmer",
"vo-khmer",
"sha-khmer",
"sso-khmer",
"sa-khmer",
"ha-khmer",
"la-khmer",
"qa-khmer",
"nyo-khmer.less",
"qi-khmer",
"qii-khmer",
"qu-khmer",
"quk-khmer",
"quu-khmer",
"quuv-khmer",
"ry-khmer",
"ryy-khmer",
"ly-khmer",
"lyy-khmer",
"qe-khmer",
"qai-khmer",
"qoo-khmer",
"qooVariant-khmer",
"qau-khmer",
"aaSign-khmer",
"iMark-khmer",
"iiMark-khmer",
"yMark-khmer",
"yyMark-khmer",
"iMark_toandakhiat-khmer",
"iMark-khmer.narrow",
"iiMark-khmer.narrow",
"yMark-khmer.narrow",
"yyMark-khmer.narrow",
"iMark_toandakhiat-khmer.narrow",
"uMark-khmer",
"uuMark-khmer",
"uaMark-khmer",
"uMark-khmer.below2",
"uuMark-khmer.below2",
"uaMark-khmer.below2",
"oeSign-khmer",
"yaSign-khmer",
"yaSign-khmer.below2",
"ieSign-khmer",
"ieSign-khmer.below2",
"eSign-khmer",
"aeSign-khmer",
"aiSign-khmer",
"ooSign-khmer",
"auSign-khmer",
"nikahit-khmer",
"reahmuk-khmer",
"yuukaleapintu-khmer",
"muusikatoan-khmer",
"triisap-khmer",
"bantoc-khmer",
"robat-khmer",
"toandakhiat-khmer",
"kakabat-khmer",
"ahsda-khmer",
"samyoksannya-khmer",
"zero-khmer",
"one-khmer",
"two-khmer",
"three-khmer",
"four-khmer",
"five-khmer",
"six-khmer",
"seven-khmer",
"eight-khmer",
"nine-khmer",
"khan-khmer",
"bariyoosan-khmer",
"camnucpiikuuh-khmer",
"lektoo-khmer",
"beyyal-khmer",
"phnaekmuan-khmer",
"koomuut-khmer",
"riel-khmer",
"viriam-khmer",
"coeng-khmer",
"bathamasat-khmer",
"atthacan-khmer",
"avakrahasanya-khmer",
"ro-khmer.pre",
"ro-khmer.pre2",
"ro-khmer.pre.narrow",
"kho-khmer.post",
"cho-khmer.post",
"ttho-khmer.post",
"ba-khmer.post",
"yo-khmer.post",
"sso-khmer.post",
"sa-khmer.post",
"yo-khmer.post2",
"ka-khmer.below",
"kha-khmer.below",
"ko-khmer.below",
"ngo-khmer.below",
"ca-khmer.below",
"cha-khmer.below",
"co-khmer.below",
"nyo-khmer.below",
"nyo-khmer.full.below",
"da-khmer.below",
"ttha-khmer.below",
"do-khmer.below",
"nno-khmer.below",
"ta-khmer.below",
"tha-khmer.below",
"to-khmer.below",
"tho-khmer.below",
"no-khmer.below",
"pha-khmer.below",
"po-khmer.below",
"pho-khmer.below",
"mo-khmer.below",
"lo-khmer.below",
"vo-khmer.below",
"sha-khmer.below",
"ha-khmer.below",
"qa-khmer.below",
"mo-khmer.below2",
"ha-khmer.below2",
"nno-khmer.below.narrow1",
"nno-khmer.below.narrow2",
"ka_aaSign-khmer",
"kha_aaSign-khmer",
"ko_aaSign-khmer",
"kho_aaSign-khmer",
"ngo_aaSign-khmer",
"ca_aaSign-khmer",
"cha_aaSign-khmer",
"co_aaSign-khmer",
"cho_aaSign-khmer",
"nyo_aaSign-khmer",
"da_aaSign-khmer",
"ttha_aaSign-khmer",
"do_aaSign-khmer",
"ttho_aaSign-khmer",
"nno_aaSign-khmer",
"ta_aaSign-khmer",
"tha_aaSign-khmer",
"to_aaSign-khmer",
"tho_aaSign-khmer",
"no_aaSign-khmer",
"ba_aaSign-khmer",
"pha_aaSign-khmer",
"po_aaSign-khmer",
"pho_aaSign-khmer",
"mo_aaSign-khmer",
"yo_aaSign-khmer",
"ro_aaSign-khmer",
"lo_aaSign-khmer",
"vo_aaSign-khmer",
"sha_aaSign-khmer",
"sso_aaSign-khmer",
"sa_aaSign-khmer",
"ha_aaSign-khmer",
"la_aaSign-khmer",
"qa_aaSign-khmer",
"nyo_aaSign-khmer.less",
"kho_aaSign-khmer.post_",
"cho_aaSign-khmer.post_",
"ttho_aaSign-khmer.post_",
"ba_aaSign-khmer.post_",
"yo_aaSign-khmer.post_",
"sso_aaSign-khmer.post_",
"sa_aaSign-khmer.post_",
"yo_aaSign-khmer.post2_",
"ka_auSign-khmer",
"kha_auSign-khmer",
"ko_auSign-khmer",
"kho_auSign-khmer",
"ngo_auSign-khmer",
"ca_auSign-khmer",
"cha_auSign-khmer",
"co_auSign-khmer",
"cho_auSign-khmer",
"nyo_auSign-khmer",
"da_auSign-khmer",
"ttha_auSign-khmer",
"do_auSign-khmer",
"ttho_auSign-khmer",
"nno_auSign-khmer",
"ta_auSign-khmer",
"tha_auSign-khmer",
"to_auSign-khmer",
"tho_auSign-khmer",
"no_auSign-khmer",
"ba_auSign-khmer",
"pha_auSign-khmer",
"po_auSign-khmer",
"pho_auSign-khmer",
"mo_auSign-khmer",
"yo_auSign-khmer",
"ro_auSign-khmer",
"lo_auSign-khmer",
"vo_auSign-khmer",
"sha_auSign-khmer",
"sso_auSign-khmer",
"sa_auSign-khmer",
"ha_auSign-khmer",
"la_auSign-khmer",
"qa_auSign-khmer",
"nyo_auSign-khmer.less",
"kho_auSign-khmer.post_",
"cho_auSign-khmer.post_",
"ttho_auSign-khmer.post_",
"ba_auSign-khmer.post_",
"yo_auSign-khmer.post_",
"sso_auSign-khmer.post_",
"sa_auSign-khmer.post_",
"yo_auSign-khmer.post2_",
"uuMark-khmer.ro",
"uaMark-khmer.ro",
"muusikatoan-khmer.ro",
"da-khmer.below.ro",
"ta-khmer.below.ro",
"po-khmer.below.ro",
"pho-khmer.below.ro",
"mo-khmer.below.ro",
"toandakhiat-khmer.ro",
"ahsda-khmer.ro",
"samyoksannya-khmer.ro",
"muusikatoan-khmer.roLiga",
"nikahit-khmer.small",
"triisap-khmer.small",
"kakabat-khmer.small",
"samyoksannya-khmer.small",
"iMark-khmer.small",
"iiMark-khmer.small",
"yMark-khmer.small",
"yyMark-khmer.small",
_nowidth,
"nikahit-khmer.liga",
"kakabat-khmer.liga"
)